.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  * {
    margin: 0;
    font-family: "Poppins", sans-serif;
    padding: 0;
    box-sizing: border-box;
    background: #f9f9f9;
    align-items: center;
}  

/* * { border: 1px solid black; } */



main {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f9f9f9;
    border-bottom: 1px solid #a6a6a6;
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}
.chips-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chip {
    padding: 10px 20px;
    border-radius: 60px;
    background-color: white;
    border: 1px solid #a6a6a6;
    margin: 10px;
    font-family: "Poppins", sans-serif;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}
.search-box {
    width: 550px; height: 40px; border-radius: 4px; border-color: #d9d9d9;
    padding-left: 15px;
}
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-left: 80px;
    justify-content: center;
    border: none;
    background: none;
}
.help-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    margin-right: 80px;
    height: fit-content;
}
.help-btn {
    padding: 10px;
    border: none;
    justify-content: center;
    background-color: #f9f9f9;
    cursor: pointer;
    height: 40px;
}

.footer {
    background-color: #f9f9f9;
    color: black;
    padding: 20px 0;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.footer-column {
    flex: 1 0 16.66%;
    margin-bottom: 20px;
}

.footer-column h3 {
    margin-bottom: 15px;
}

.footer-column a {
    color:      black;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.footer-column a:hover {
    color: #20a6ff;
}
.contact-info {
    background: #d9d9d9;
    width: 100%;
    height: 60px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #565656;

}
.footer-bottoms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 90px;
    padding-right: 90px;
    width: 100%;
}
.payment-links, .social-links {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.email-subscription {
    display: flex;
    justify-content: center;
}
.email-subscription input[type="email"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.email-subscription button {
    padding: 10px;
    border: none;
    background-color: #006FCF;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-column {
        margin-bottom: 30px;
    }
}

message-cards {
    min-width: 150px;
    min-height: 100px;
}
.slider-container {
    display: flex; /* Use flexbox for stacking */
    width: 300px; /* Adjust width as needed */
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1px;
    background: #d3d3d3;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #efefef;
    cursor: pointer;
    border-radius: 50%; /* Make the thumb circular */
    border: 1px solid #07689f;
}

.slider::-webkit-slider-thumb:hover {
    background: #07689f;
}
  
  
.primary-button {
    background-color: #07689f; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
}
.secondary-button {
    background-color: #f9f9f9; 
    color: #07689f; 
    border: 1px solid #07689f; 
    padding: 10px 20px; 
    border-radius: 5px;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

.text-button {
    background-color: #f9f9f9; 
    color: #07689f; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.secondary-button:hover {
    background-color: #07689f;
    color: #fff;
}
.text-button {
    background-color: #f9f9f9; 
    color: #07689f; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.banner-image {
    position: relative;
    width: 100%;
  }
.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
}
